<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>

<h1 th:text="${title}">Buy Books</h1>

<form th:action="@{/books/buy}" method="post">
    <div th:each="book : ${books}">
        <label th:text="${book.title}"></label>
        <input type="checkbox" name="bookIds" th:value="${book.id()}" />
    </div>
    <button type="submit">Buy/Delete Selected Books</button>
</form>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>
