<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>

<h1 th:text="${title}">Delete User</h1>

<form th:action="@{/users/delete}" method="post">
    <div th:each="user : ${users}">
        <label th:text="${user.username}"></label>
        <input type="radio" name="userId" th:value="${user.id}" />
    </div>
    <button type="submit">Delete Selected User</button>
</form>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>
